<%= link_to job_path(vacancy), class: "block bg-white rounded-md border border-gray-200 p-6 hover:border-green-400" do %>
  <div class="flex items-center pb-4">
    <div class="flex flex-1 md:items-center justify-between">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="w-12 h-12 rounded flex items-center justify-center flex-shrink-0" style="background-color: #<%= Digest::SHA1.hexdigest(vacancy.company.name)[0..5] %>">
          <span class="text-white font-bold text-2xl"><%= vacancy.company.name.first %></span>
        </div>
        <div>
          <h3 class="text-lg font-semibold text-gray-900"><%= vacancy.title %></h3>
          <div class="flex flex-wrap items-center gap-2">
            <span class="text-xs text-gray-500"><%= vacancy.company.name %></span>
            <span class="px-3 py-1 text-xs bg-emerald-100 text-emerald-700 rounded-full"><%= vacancy.contract_type %></span>
            <span class="px-3 py-1 text-xs bg-orange-100 text-orange-400 rounded-full"><%= vacancy.operating_mode %></span>
            <% if vacancy.salary.present? %>
              <span class="px-3 py-1 text-xs font-medium bg-blue-100 text-blue-700 rounded-full"><%= salary_range(vacancy.salary_from, vacancy.salary_to, vacancy.salary_currency) %></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="text-right text-xs space-y-1 flex-shrink-0">
        <div class="flex items-center justify-end text-gray-500 capitalize">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin w-4 h-4 mr-1">
            <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
            <circle cx="12" cy="10" r="3"></circle>
          </svg>
          <%= vacancy.remote? ? vacancy.operating_mode : vacancy.location %>
        </div>
        <div class="flex items-center justify-end text-gray-400">
          <%= time_ago_in_words(vacancy.created_at) %> ago
        </div>
      </div>
    </div>
  </div>
  <div class="text-sm text-gray-600">
    <%= strip_tags(vacancy.description).truncate_words(30) %>
  </div>
  <%= render partial: "skills", locals: { vacancy: } %>
<% end %>
