<div class="flex flex-col gap-1 items-center min-h-full py-12 bg-gray-50 px-4 md:px-0">
  <div class="container">
    <div class="grid lg:grid-cols-3 gap-4">
      <div class="col-span-full">
        <%= render partial: "breadcrumbs" %>
      </div>

      <div class="lg:col-span-2 space-y-3">
        <div class="block bg-white rounded-md border border-gray-200 space-y-7 p-6">
          <div class="flex items-center border-b border-gray-100 pb-5">
            <div class="flex flex-1 md:items-center justify-between">
              <div class="flex flex-col md:flex-row gap-4">
                <div class="w-12 h-12 rounded flex items-center justify-center flex-shrink-0" style="background-color: #<%= Digest::SHA1.hexdigest(@vacancy.company.name)[0..5] %>">
                  <span class="text-white font-bold text-2xl"><%= @vacancy.company.name.first %></span>
                </div>
                <div>
                  <h3 class="text-lg font-semibold text-gray-900"><%= @vacancy.title %></h3>
                  <div class="flex flex-wrap items-center gap-2">
                    <span class="text-xs text-gray-500"><%= @vacancy.company.name %></span>
                    <span class="px-3 py-1 text-xs bg-emerald-100 text-emerald-700 rounded-full"><%= @vacancy.contract_type %></span>
                    <span class="px-3 py-1 text-xs bg-orange-100 text-orange-400 rounded-full"><%= @vacancy.operating_mode %></span>
                    <% if @vacancy.salary.present? %>
                      <span class="px-3 py-1 text-xs font-medium bg-blue-100 text-blue-700 rounded-full">
                        <%= salary_range(@vacancy.salary_from, @vacancy.salary_to, @vacancy.salary_currency) %>
                      </span>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="text-right text-xs space-y-1 flex-shrink-0">
                <div class="flex items-center justify-end text-gray-500 capitalize">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin w-4 h-4 mr-1">
                    <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
                    <circle cx="12" cy="10" r="3"></circle>
                  </svg>
                  <%= @vacancy.remote? ? @vacancy.operating_mode : "Singapore" %>
                </div>
                <div class="flex items-center justify-end text-gray-400">
                  <%= time_ago_in_words(@vacancy.created_at) %> ago
                </div>
              </div>
            </div>
          </div>
          <div class="text-sm text-gray-600">
            <%= sanitize(@vacancy.description) %>
          </div>
          <%= render partial: "skills", locals: { vacancy: @vacancy } %>
        </div>
      </div>

      <div class="lg:col-span-1">
        <div class="block bg-white rounded-md border border-gray-200 space-y-4 p-6 py-8 sticky top-4">
          <div class="flex gap-4 pb-4">
            <button class="w-full bg-emerald-500 text-sm text-white font-medium py-3 px-4 rounded hover:bg-emerald-600 transition-colors">Apply</button>
            <button class="w-full border border-gray-300 text-sm text-gray-700 font-medium py-3 px-4 rounded hover:bg-gray-50 transition-colors">Save</button>
          </div>

          <div class="flex items-center space-x-2">
            <div class="w-10 flex justify-center">
              <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 30 30" width="30" height="30">
                <g>
                  <circle class="st0" cx="15" cy="15" r="15" fill="#C5C5C5"></circle>
                  <path class="st1" fill="#FFFFFF" d="M20.5,9.7h-0.6V8.5c0-0.5-0.4-0.9-0.9-0.9S18.1,8,18.1,8.5v1.2h-6.2V8.5c0-0.5-0.4-0.9-0.9-0.9S10.1,8,10.1,8.5  v1.2H9.5c-0.9,0-1.7,0.8-1.7,1.7v8.3c0,0.9,0.8,1.7,1.7,1.7h10.9c0.9,0,1.7-0.8,1.7-1.7v-8.3C22.2,10.5,21.4,9.7,20.5,9.7z  M11.3,18.7c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3c0.7,0,1.3,0.6,1.3,1.3S12,18.7,11.3,18.7z M11.3,15c-0.7,0-1.3-0.6-1.3-1.3  c0-0.7,0.6-1.3,1.3-1.3c0.7,0,1.3,0.6,1.3,1.3C12.5,14.5,12,15,11.3,15z M15,18.7c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3  s1.3,0.6,1.3,1.3S15.7,18.7,15,18.7z M15,15c-0.7,0-1.3-0.6-1.3-1.3c0-0.7,0.6-1.3,1.3-1.3s1.3,0.6,1.3,1.3C16.3,14.5,15.7,15,15,15  z M18.8,15c-0.7,0-1.3-0.6-1.3-1.3c0-0.7,0.6-1.3,1.3-1.3s1.3,0.6,1.3,1.3C20,14.5,19.5,15,18.8,15z"></path>
                </g>
              </svg>
            </div>
            <div class="flex flex-col">
              <p class="text-gray-400 text-sm">Published at</p>
              <p class="text-sm"><%= l(@vacancy.created_at, format: :long) %></p>
            </div>
          </div>

          <div class="flex items-center space-x-2">
            <div class="w-10 flex justify-center">
              <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 30 30" width="30" height="30">
                <g>
                  <circle class="st0" cx="15" cy="15" r="15" fill="#C5C5C5"></circle>
                  <g>
                    <path class="st1" fill="#FFFFFF" d="M19.13,21.6c-0.08-0.03-0.22-0.08-0.35-0.15c-0.92-0.48-1.84-0.97-2.77-1.45c-0.67-0.35-1.35-0.35-2.02,0    c-0.93,0.48-1.86,0.97-2.79,1.46c-0.21,0.11-0.44,0.24-0.67,0.07c-0.23-0.17-0.17-0.42-0.13-0.66c0.18-1.04,0.36-2.08,0.53-3.12    c0.12-0.71-0.08-1.34-0.59-1.85c-0.73-0.74-1.49-1.46-2.23-2.18c-0.08-0.08-0.16-0.15-0.22-0.24c-0.24-0.31-0.14-0.62,0.24-0.71    c0.27-0.07,0.55-0.1,0.83-0.14c0.84-0.12,1.68-0.24,2.51-0.36c0.73-0.11,1.29-0.5,1.62-1.17c0.47-0.93,0.92-1.87,1.39-2.8    C14.6,8.08,14.7,7.81,15,7.82c0.3,0,0.4,0.27,0.51,0.5c0.46,0.93,0.92,1.87,1.39,2.8c0.34,0.66,0.89,1.05,1.63,1.16    c1.04,0.15,2.08,0.3,3.11,0.45c0.23,0.03,0.48,0.06,0.57,0.33c0.09,0.27-0.1,0.45-0.27,0.61c-0.74,0.73-1.49,1.45-2.24,2.18    c-0.55,0.54-0.76,1.2-0.63,1.96c0.17,1,0.35,2.01,0.51,3.01c0.03,0.15,0.04,0.32,0.02,0.47C19.57,21.51,19.42,21.61,19.13,21.6z"></path>
                  </g>
                </g>
              </svg>
            </div>
            <div class="flex flex-col">
              <p class="text-gray-400 text-sm">Seniority</p>
              <p class="text-sm"><%= t("vacancy.seniorities.#{@vacancy.seniority}") %></p>
            </div>
          </div>

          <div class="flex items-center space-x-2">
            <div class="w-10 flex justify-center">
              <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 30 30" width="30" height="30">
                <g>
                  <circle class="st0" cx="15" cy="15" r="15" fill="#C5C5C5"></circle>
                </g>
                <g>
                  <g>
                    <g>
                      <circle class="st1" fill="#FFFFFF" cx="11.8" cy="9.7" r="2.3"></circle>
                      <path class="st1" fill="#FFFFFF" d="M11.8,21.6L11.8,21.6c-1.4,0-2.5-1.1-2.5-2.5v-5.5c0-0.3,0.3-0.6,0.6-0.6h3.9c0.3,0,0.6,0.3,0.6,0.6v5.5     C14.4,20.5,13.2,21.6,11.8,21.6z"></path>
                    </g>
                    <g>
                      <circle class="st1" fill="#FFFFFF" cx="18.4" cy="10.8" r="2.3"></circle>
                      <path class="st1" fill="#FFFFFF" d="M18.4,21.6L18.4,21.6c-1.4,0-2.5-1.1-2.5-2.5v-4.4c0-0.3,0.3-0.6,0.6-0.6h3.9c0.3,0,0.6,0.3,0.6,0.6v4.4     C21,20.5,19.8,21.6,18.4,21.6z"></path>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <div class="flex flex-col">
              <p class="text-gray-400 text-sm">Employment type</p>
              <p class="text-sm"><%= t("vacancy.employment_types.#{@vacancy.employment_type}") %></p>
            </div>
          </div>

          <div class="flex items-center space-x-2">
            <div class="w-10 flex justify-center">
              <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 30 30" width="30" height="30">
                <g>
                  <circle class="st0" cx="15" cy="15" r="15" fill="#C5C5C5"></circle>
                  <path class="st1" fill="#FFFFFF" d="M21.28,13.84H8.96c-1.31,0-2.37-1.06-2.37-2.37S7.65,9.1,8.96,9.1h12.33c1.31,0,2.37,1.06,2.37,2.37   S22.59,13.84,21.28,13.84z"></path>
                  <path class="st1" fill="#FFFFFF" d="M16.22,21.18H8.96c-1.31,0-2.37-1.06-2.37-2.37s1.06-2.37,2.37-2.37h7.26c1.31,0,2.37,1.06,2.37,2.37   S17.53,21.18,16.22,21.18z"></path>
                </g>
              </svg>
            </div>
            <div class="flex flex-col">
              <p class="text-gray-400 text-sm">Contract type</p>
              <p class="text-sm"><%= t("vacancy.contract_type.#{@vacancy.contract_type}") %></p>
            </div>
          </div>

          <div class="flex items-center space-x-2">
            <div class="w-10 flex justify-center">
              <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 30 30" width="30" height="30">
                <g>
                  <circle class="st0" cx="15" cy="15" r="15" fill="#C5C5C5"></circle>
                  <path class="st1" fill="#FFFFFF" d="M16.2,13.06"></path>
                  <path class="st2" fill="#FFFFFF" d="M20.7,13.34c0.82-0.23,1.3-1.06,1.07-1.87c-0.23-0.8-1.08-1.27-1.9-1.05l-6.18,1.71l-2.95-3.25  C10.17,8.26,9.2,8.21,8.56,8.76c-0.64,0.56-0.69,1.51-0.13,2.14l2.93,3.24l-2.44,5.85c-0.32,0.77,0.06,1.66,0.84,1.97  c0.19,0.08,0.39,0.11,0.58,0.11c0.61,0,1.18-0.36,1.43-0.94l1.86-4.48l2.5,2.76c-0.63,0.56-0.69,1.51-0.12,2.13  c0.3,0.34,0.73,0.51,1.15,0.51c0.36,0,0.73-0.13,1.02-0.38l2.3-2.01c0.64-0.56,0.69-1.51,0.13-2.14c-0.56-0.62-1.54-0.68-2.17-0.13  l-2.49-2.74L20.7,13.34z"></path>
                </g>
              </svg>
            </div>
            <div class="flex flex-col">
              <p class="text-gray-400 text-sm">Working mode</p>
              <p class="text-sm"><%= t("vacancy.operating_modes.#{@vacancy.operating_mode}") %></p>
            </div>
          </div>

          <div class="flex items-center space-x-2">
            <div class="w-10 flex justify-center">
              <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 30 30" width="30" height="30">
                <g>
                  <circle class="st0" cx="15" cy="15" r="15" fill="#C5C5C5"></circle>
                  <path class="st1" fill="#FFFFFF" d="M20.43,13.1c0-2.94-2.43-5.32-5.43-5.32c-3,0-5.43,2.38-5.43,5.32c-0.03,4.11,5.42,9.4,5.42,9.4   s4.33-4.2,5.25-8.03C20.36,14.04,20.43,13.58,20.43,13.1 M15,11.29c1.02,0,1.84,0.81,1.84,1.81c0,1-0.83,1.81-1.84,1.81   c-1.02,0-1.84-0.81-1.84-1.81C13.16,12.1,13.98,11.29,15,11.29"></path>
                </g>
              </svg>
            </div>
            <div class="flex flex-col">
              <p class="text-gray-400 text-sm">Location</p>
              <p class="text-sm">Warszawa</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
